/***** CUSTOM THEME (files I have changed) IN SEMANTIC UI *****/

  /**
  
  You can modify those files however you want and the run `gulp` command 
  making sure that `.semanticBuild();` is not commented out in your `gulpfile.js` which will force to rebuild
  
  semantic/src/site/elements/button.variables
  semantic/src/site/elements/segment.variables
  semantic/src/site/collections/menu.variables
  semantic/src/site/globals/site.variables

  **/

/********** OTHER STYLESHEETS **********/

@import "node_modules/croppie/croppie";
@import "node_modules/flatpickr/dist/flatpickr.min";

/********** FONTS *********************/

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
$roboto-slab: 'Roboto Slab', serif; 

/********** OTHER SEMANTIC-UI OVERRIDES *****/

  /***** GRID *****/

  .body-auth {
    width: 100%;
    height: 100%;
    background-color: #00A8AA;
  }

  .pushable > .pusher{
    width: 100%;
    position: absolute;
  }

  .ui.container.narrowed {
    width: 100% !important;
    margin: 0 auto;
  }

  .content-wrapper{
    padding-top: 73px;
    padding-bottom: 20px;
  }

  .ui.grid.grid-auth {
    text-align: center;
    margin: 0;
    height: 100%;
  }

  .grid-with-margin{
    min-height: 100%;
    padding-top: 80px !important;
    padding-bottom: 50px !important;
  }

  .column-auth {
    max-width: 450px;
  }

  .short-segment{
    height: 350px;
  }

  .ui.segment.segment-margin{
    margin: 1em 0 1em 0;
  }

  .ui.cards > .card > .content.content-limit, .ui.card > .content.content-limit{
    height: 60px;
  }

  .ui.left.sidebar{
    z-index: 1000;
  }

  .ui.segment.segment-padding{
    padding-left: 20px;
    padding-right: 20px;
  }

  .ui.label > a.white-font{
    color: #FFFFFF;
    opacity: 0.9;
  }

  .item-image{
    margin: 0 15px;
  }

  .item-mute{
    color: #8c8a8a;
  }

  .search-form-sm{
    margin-bottom: 0;
  }

  .ui.message ul.list:not(.ui){
    list-style: none;
  }
  .ui.search .prompt{
    border-radius: 4px;
  }

  .ui.search .prompt.top {
    width: 300px;
  }

  div.ui.card.blogger-card{
    max-width: 500px;
    margin: 0 auto 25px;
  }

  div.no-box-shadow{
    box-shadow: none !important;
  }

  /***** MENU *****/


  .ui.menu.fixed{
      box-shadow: 0px 2px 3px 0 #434343;
  }

  .ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless) > .container > .item:not(.right):not(.borderless):first-child{
    border: none;
  }

  .ui.menu.menu-top .item:before{
    width: 0;
  }

  /** MODAL **/

  .ui.modal .actions > .button{
    margin-left: 0;
  }

  .menu-sidebar{
    > .item {
      width: 200px;
    }
  }


/********** CUSTOM CSS ***************/

  .credits-info {
    margin: 5px 0;
    color: #434343;
  }

  .cookies-message{
    display: none;
  }

  .brand-teal {
    color: #FFFFFF;
    background-color: #00A8AA !important;
  }

  .hidden {
    display: none;
  }

  .no-wrap {
    white-space: nowrap;
  }

  .text-center{
    text-align: center;
  }

  .italic-description{
    font-style: italic;
    font-size: 0.9em;
    color: #838587;
    padding-bottom: 0.5em;
  }

  .white {
    color: #FFFFFF;
  }

  .upload-input{
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .media-manager-frame{
    width: 100%;
    min-height: 500px;
    border: none;
  }

  .z-index-top{
    z-index: 10;
  }

 
  ul.list-unstyled {
    list-style: none;
    padding-left: 0;
  }

  /***** SCROLLER ******/

  a.scroller{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    background-color: #595454;
    color: #ffffff;
    padding: 20px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    box-shadow: 0px 4px 3px 0 #000000;
    i {
      margin: 0em;
    }
  }

  a.scroller:hover{
    background-color: #434343;
  }

  /***** IMAGES *****/

  .hoverable:hover{
    opacity: 0.8;
    background-color: #434343;
  }

  .avatar-sm{
    width: 50px;
    height: 50px; 
    height: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }

  .img-responsive {
    max-width: 100%; 
    height: auto;
  }

  /***** CONTACT FORM *****/

  a#contact-form-trigger{
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    background-color: #F27F13;//#F17A1F
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    box-shadow: 0px 4px 3px 0 #434343;
    i {
      margin: 0em;
    }
  }

  a#contact-form-trigger:hover{
    box-shadow: 0px 6px 5px 0px #434343;
  }

  div#contact-form-modal{
    display:none;
    position:fixed;
    z-index: 999;
    bottom: 70px;
    height: 320px;
    left: 10px;
    width: 100%;
    max-width:300px;
    padding: 12px;
    box-shadow: 0px 6px 5px 0px #434343;
  }

  /***** FORM *****/

  form.form-inline{
    display:inline-block;
    margin: 0;
  }

  /***** DATA TABLES *****/

  .sortable {
    cursor: pointer !important;
  }

  .sortable:hover {
    background-color: #e2e2e2 !important;
  }

  .table-list-search-input {
    display: block !important;
  }

  div.ui.input.table-list-search-input{
    margin-bottom: 10px;
  }

  .list-pagination {
    font-size: 0.85rem;
    list-style: none;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.26666667rem;
    vertical-align: middle;
    margin: 10px 0px;
    display: inline-flex;
    > li {
      &.active{
        background-color: #F3F3F3;
      }
      &:last-child{
        border-radius: 0em 0.26666667rem 0.26666667rem 0em;
      }
      &:first-child{
        border-radius:0.26666667rem 0em   0em 0.26666667rem;
      }
      box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
      cursor: pointer;
      border-right: 1px solid rgba(34, 36, 38, 0.15);
      line-height: 1;
      padding: 0.93333333em 1.13333333em;
      background-color: #FFFFFF;
      display: inline;
    }  
  }

  /***** KEEPING FOOTER AT THE BOTTOM OF THE PAGE *****/

  .main-content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .ui.segment.footer {
    flex: 1;
  }

  .footer{
    box-shadow: 0px -3px 5px 0 rgba(34, 36, 38, 0.15) !important;
  }

  .footer-container{
    margin-top: 40px !important;
    margin-bottom: 20px;
  }

  /***** ARTICLES *****/

  article {
    color: #333333;
    header{
       margin: 20px 15px !important;
    }
    .article-content{
      h2, h3 {
        color: #ce642b;
        margin-right: 15px !important;
        margin-left: 15px !important;
        font-weight: 900;
           font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      }
     
      ul > li, ol > li, p{ 
       font-family: Georgia,Cambria,"Times New Roman",Times,serif;
       text-align: justify;
       font-size: 17px !important;
       letter-spacing: +0.2;
       line-height: 1.6;
       margin: 15px 15px !important;
       word-break: break-word;
       word-wrap: break-word;
      }

      p {
        text-indent: 50px;
      }
    }

    h3, {
      font-family: $roboto-slab,"Droid Serif","AvenirNext-Bold","Avenir Bold","Georgia","Times New Roman","Times",serif;
      font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      margin-top: 0;
      margin-bottom: 20px !important;
    }
  }

  /***** BACKEND DASHBOARD *****/

  .backend-dashboard{
    width: 100%; 
    height: 100%;
    > .sidebar {
      > .ui.menu.vertical{
        width: 100%;
        box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
      }
      width: 20%;
      float:left;
      height: 100%;
      padding: 90px 10px 20px 20px;
    }
    > .view {
      width: 80%;
      float:left;
      padding: 90px 20px 20px 20px;
      > .segments {
        form {
          max-width: 600px;
        }
        background-color: #fff;
      }
    }
  }


/********** MEDIA QUERIES ***************/
  
  /***** MOBILE *****/
  @media only screen and (max-width: 767px) {
        
    .ui.container.narrowed{
      width: 95% !important;
    }

    .ui.items > .item.item-article {
      flex-direction: row;
    }

    .ui.segment.segment-padding{
      padding-left: 10px;
      padding-right: 10px;
    } 

    .hidden-mobile{
      display: none !important;
    }

    .content-wrapper{
      padding-top: 60px;
    }

    .backend-dashboard{
      > .view {
        width: 100%;  
        padding: 90px 20px 20px 20px;
      }
    }
  }

  /***** TABLET *****/

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .hidden-tablet{
      display: none !important;
    }

    .backend-dashboard{
      > .view {
        width: 100%;  
        padding: 90px 20px 20px 20px;
      }
    }

    .content-wrapper{
      padding-top: 60px;
    }
  }

  /***** SMALL MONITOR *****/

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hidden-small-desktop{
      display: none !important;
    }
  }

  /***** Large Monitor *****/

  @media only screen and (min-width: 1200px) {
    .hidden-large-desktop{
      display: none !important;
    }
  }